<html>
    <h1>Lixeira</h1>
    <table>
        <tr>
            <th><b>Titulo</b></th>
            <th><b>Meta Associada</b></th>
            <th><b>Id</b></th>
            <th><b>Selected</b></th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><div>Selecionar Tudo</div><input [(ngModel)]="alternarSelecaoSelecionado" type="checkbox" (change)=alternarTodaSelecao($event)/></td>
        </tr>
        <tr *ngFor="let roteiro of roteiros; let i = index">
            <td>{{roteiro.titulo}}</td>
            <td>{{roteiro.metaAssociada}}</td>
            <td>{{roteiro.id}}</td>
            <td><input type="checkbox" [(ngModel)]="selecionados[i]" (change)=algoFoiSelecionado()></td>
        </tr>
    </table>
    <div *ngIf="algoSelecionado">
        <button (click)=deletarPermanentemente()>Deletar</button>
        <button (click)=restaurarRoteiros()>Restaurar</button>
    </div>
</html>