<html (mousemove)="onMove()">

   <table>
 <tr>
    <td><label>Nome </label></td>
    <td><input [(ngModel)]="aluno.nome" name="namebox"></td>
    <td><button (click)="criarAluno(aluno)">Adicionar</button></td>
 </tr>
 <tr>
   <td><label>Github </label></td>
   <td><input [(ngModel)]="aluno.githubLogin" ></td>
</tr>
 <tr>
    <td><label>CPF </label></td>
    <td><input [(ngModel)]="aluno.cpf" name="cpfbox"></td>
 </tr>
 <tr>
    <td><label>e-mail </label></td>
    <td><input [(ngModel)]="aluno.email" ></td>
 </tr>
 </table>
   <div name="msgcpfexistente" *ngIf="cpfOuLoginDuplicado">
      Um aluno já foi cadastrado com esse Login ou CPF
   </div>

  <table>
 <tr *ngIf="alunos.length > 0">
   <th>Nome</th>
   <th>Github</th>
   <th>CPF</th>
    <th>e-mail</th>
 </tr>
 <tr *ngFor="let a of alunos" name="alunolist">
   <td name="nomelist">{{a.nome}}</td>
   <td>{{a.githubLogin}}</td>
   <td name="cpflist">{{a.cpf}}</td>
   <td>{{a.email}}</td>
   <td><button name="deletelist" (click)=deletarAluno(a)>Deletar</button></td>
 </tr>
 </table>

</html>