<html>
    <a routerLink="/roteiros/lixeira">Lixeira</a>
    <a routerLink="/roteiros/criacao">Criar Roteiro</a>

    <table>
        <tr>
            <span>
                <button>expandir</button>
            </span>
            <span>Roteiro: Software as a Service </span>
            <div>Meta Associade: Software as a Service </div>
            <div>Id: roteiro_software_service</div>
            <div>
                <ul>
                    <li>Questão 1: Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum</li>
                    <li>Questao 2: Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum</li>
                    <li>Questao 2: Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum</li>
                    <li>Questao 2: Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum</li>
                </ul>
            </div>
            <button>editar</button>
        </tr>
    </table>
</html>