a {
    padding: 3px 6px;
    text-decoration: none;
    display: inline-block;
    background-color: #3399ff;
    color: #ffffff;
    border-radius: 4px;
    margin: 4px;
}

button {
    padding: 3px 6px;
    text-decoration: none;
    display: inline-block;
    background-color: #3399ff;
    color: #ffffff;
    border: 0px;
    border-radius: 4px;
    margin: 4px;
}

tr {
    display: block;
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 10px;
}

a:hover, button:hover {
    color: #e6e6e6;
    background-color: #1a8cff;
}

.roteiro-titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.roteiro-titulo h2{
    margin: 0px
}