<html>
    <a routerLink="/roteiros/lixeira" name="lixeiraBtn">Lixeira</a>
    <a routerLink="/roteiros/criacao" name="creationBtn">Criar Roteiro</a>

    <table>
        <tr *ngFor="let roteiro of roteiros; let i = index" name="roteiroList">
            <span class="roteiro-titulo">
                <button name="expandirList" (click)=toggleExpandir(roteiro.id)>Expandir</button>
                <h2><span>Roteiro: </span><span name="tituloList">{{roteiro.titulo}}</span></h2>
            </span>
            <div *ngIf="expandido[i]">
                <div><span>Meta Associada: </span><span name="metaList">{{roteiro.metaAssociada}}</span></div>
                <div><span>Id:</span> <span name="idList">{{roteiro.id}}</span></div>
                <div>
                    <ul *ngFor="let questao of roteiro.questoes; let j = index">
                        <li>Questão {{j+1}}: {{questao.enunciado}}</li>
                    </ul>
                </div>
                <span>
                    <button>editar</button>
                    <button name="deleteBtn" (click)=enviarParaLixeira(roteiro.id)>deletar</button>
                </span>
            </div>
        </tr>
    </table>
</html>