tr {
    width: 30%;
}

.error-message{
    color: red
}

div {
    height: 30px;
    width: 270px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}