<html>
    <h3>Criador de Roteiros</h3>
    <tr>
        <div>
            <label>Titulo: </label>
            <input [(ngModel)]="roteiro.titulo" name="titulobox">
        </div>
        <div>
            <label>Meta Associada: </label>
            <input type="text"/>
        </div>
        <div>
            <label>Id: </label>
            <input type="text"/>
        </div>
    </tr>
    <tr *ngFor="let questao of roteiro.questoes; let i = index">
        <div>
            <label>Questao {{i+1}}</label>
            <input type="text" [(ngModel)]=questao.enunciado/>
        </div>
        <button (click)=removerQuestao(i)>Remover Questão</button>
    </tr>
    <div>
        <button (click)=adicionarQuestao()>Adicionar Questão</button>
    </div>
    <span>
        <a routerLink="/roteiros">Cancelar</a>
        <button (click)=criarRoteiro()>Criar Roteiro</button>
    </span>
</html>